## DS 300.002 Midterm 1 Part 2 
### October 13, 2021

In [17]:
# Load the data and libraries
import pandas as pd
import numpy as np
from scipy import stats

cols = ['Name', 'Age', 'Gender', 'State of domicile', 'Religion', 'Disease']
rows = [['Ramsha', '30', 'Female', 'Tamil Nadu', 'Hindu', 'Cancer'],
    ['Yadu', '24', 'Female', 'Kerala', 'Hindu', 'Viral infection'],
    ['Salima', '28', 'Female', 'Tamil Nadu', 'Muslim', 'TB'],
    ['Sunny', '27', 'Male', 'Karnataka', 'Parsi', 'No illness'],
    ['Joan', '24', 'Female', 'Kerala', 'Christian', 'Heart-related'],
    ['Bahuksana', '23', 'Male', 'Karnataka', 'Buddhist', 'TB'],
    ['Rambha', '19', 'Male', 'Kerala', 'Hindu', 'Cancer'],
    ['Kishor', '29', 'Male', 'Karnataka', 'Hindu', 'Heart-related'],
    ['Johnson', '17', 'Male', 'Kerala', 'Christian', 'Heart-related'],
    ['John', '19', 'Male', 'Kerala', 'Christian', 'Viral infection']]

df = pd.DataFrame(rows, columns = cols) 
df

        Name Age  Gender State of domicile   Religion          Disease
0     Ramsha  30  Female        Tamil Nadu      Hindu           Cancer
1       Yadu  24  Female            Kerala      Hindu  Viral infection
2     Salima  28  Female        Tamil Nadu     Muslim               TB
3      Sunny  27    Male         Karnataka      Parsi       No illness
4       Joan  24  Female            Kerala  Christian    Heart-related
5  Bahuksana  23    Male         Karnataka   Buddhist               TB
6     Rambha  19    Male            Kerala      Hindu           Cancer
7     Kishor  29    Male         Karnataka      Hindu    Heart-related
8    Johnson  17    Male            Kerala  Christian    Heart-related
9       John  19    Male            Kerala  Christian  Viral infection

## Question 1 (5 points)

Does the dataset `df` satisfy $k$-Anonymity for $k=3$? Why or why not?

YOUR ANSWER HERE

## Question 2 (5 points)

What columns should we designate as quasi-identifiers in the dataset `df`, and why?

YOUR ANSWER HERE

## Question 3 (5 points)

Imagine the column `Disease` is *not* a quasi-identifier, and we generalize the dataset to achieve $k$-Anonymity for $k=2$. For which rows is a homogeneity attack possible, and why?

In [ ]:
YOUR ANSWER HERE

## Question 4 (5 points)

How could we generalize the column `Age` to achieve $k$-Anonymity for $k=3$?

In [ ]:
YOUR ANSWER HERE

## Question 5 (5 points)

Write a query to determine how many individuals in the dataset are below 20 years old.

In [ ]:
YOUR ANSWER HERE

## Question 6 (5 points)

Add Laplace noise to the query you wrote in Question 5 to ensure differential privacy for $\epsilon = 0.1$.

In [ ]:
YOUR ANSWER HERE

## Question 7 (5 points)

Write a query to determine the average age of individuals in the dataset.

In [ ]:
YOUR ANSWER HERE

## Question 8 (5 points)

Add Laplace noise to the query you wrote in Question 7 to ensure differential privacy for $\epsilon = 0.1$.

In [ ]:
YOUR ANSWER HERE